---
import { fade } from "astro:transitions";
import TagsList from "../components/TagsList.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate}</p>
    <p transition:animate={fade({ duration: '2s' })} ><em>{frontmatter.description}</em></p>
    <p>Escrito por: <a href="/about/">{frontmatter.author}</a></p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <TagsList tags={frontmatter.tags} />
    <slot />
  </main>
  
</Layout>
